In [12]:
import seaborn as sns

In [13]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [14]:
df = sns.load_dataset("iris")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
df.iloc[5]

sepal_length       5.4
sepal_width        3.9
petal_length       1.7
petal_width        0.4
species         setosa
Name: 5, dtype: object

In [16]:
df.iloc[1:10]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [17]:
df = df.set_index("sepal_length")
df.head()

              sepal_width  petal_length  petal_width species
sepal_length
5.1                   3.5           1.4          0.2  setosa
4.9                   3.0           1.4          0.2  setosa
4.7                   3.2           1.3          0.2  setosa
4.6                   3.1           1.5          0.2  setosa
5.0                   3.6           1.4          0.2  setosa

COLUMN SELECTION
 - single column selection
 - object like selection
Multiple column selection
 -dictionary like selection

In [19]:
df["petal_length"]

sepal_length
5.1    1.4
4.9    1.4
4.7    1.3
4.6    1.5
5.0    1.4
      ...
6.7    5.2
6.3    5.0
6.5    5.2
6.2    5.4
5.9    5.1
Name: petal_length, Length: 150, dtype: float64

In [20]:
df.sepal_width

sepal_length
5.1    3.5
4.9    3.0
4.7    3.2
4.6    3.1
5.0    3.6
      ...
6.7    3.0
6.3    2.5
6.5    3.0
6.2    3.4
5.9    3.0
Name: sepal_width, Length: 150, dtype: float64

CLEANING AND MAINUPLICATION PROCESS
 -removing column and rows
 -adding column
 -handling missing values
 -dropping missing values

In [23]:
df.columns

Index(['sepal_width', 'petal_length', 'petal_width', 'species'], dtype='object')

In [24]:
df.head

<bound method NDFrame.head of               sepal_width  petal_length  petal_width    species
sepal_length
5.1                   3.5           1.4          0.2     setosa
4.9                   3.0           1.4          0.2     setosa
4.7                   3.2           1.3          0.2     setosa
4.6                   3.1           1.5          0.2     setosa
5.0                   3.6           1.4          0.2     setosa
...                   ...           ...          ...        ...
6.7                   3.0           5.2          2.3  virginica
6.3                   2.5           5.0          1.9  virginica
6.5                   3.0           5.2          2.0  virginica
6.2                   3.4           5.4          2.3  virginica
5.9                   3.0           5.1          1.8  virginica

[150 rows x 4 columns]>

In [27]:
cols_to_drop = ['species','sepal_width']
df = df.drop(columns=cols_to_drop)
df.head()

              petal_length  petal_width
sepal_length
5.1                    1.4          0.2
4.9                    1.4          0.2
4.7                    1.3          0.2
4.6                    1.5          0.2
5.0                    1.4          0.2

In [35]:
df.rename(columns={'petal_length':'petal_length'}, inplace=True)
df.head()

              Petal_Length  petal_width
sepal_length
5.1                    1.4          0.2
4.9                    1.4          0.2
4.7                    1.3          0.2
4.6                    1.5          0.2
5.0                    1.4          0.2

In [36]:
# add new columns
df['psqaure'] = df['petal_width']**2
df.head()

              Petal_Length  petal_width  psqaure
sepal_length
5.1                    1.4          0.2     0.04
4.9                    1.4          0.2     0.04
4.7                    1.3          0.2     0.04
4.6                    1.5          0.2     0.04
5.0                    1.4          0.2     0.04